<div id="partner-chat" style="height: 100%; padding: 20px; ">
    <h3 class=""><i class="far fa-user"></i> {{partner.name}}</h3>
    <div class="border border-gray" style="height: 80%; overflow: scroll;">
        <div>
            <div class="bg-white" *ngFor="let message of chatMessages" style="margin: 5px; padding: 5px">
                <strong>{{message.fromUserID == userId ? 'You' : message.fromUser?.name}}</strong> 
                <p class="float-right">{{message.createdDate}}</p>
                <p></p>
                <a *ngIf="message.fromUserID == userId" (click)="delete(message)" class="text-danger float-right" style="top: -5px">
                    <i class="fas fa-times-circle"></i>
                </a>
                <p>{{message.body}}</p>
                
            </div>
        </div>
    </div>
    <form ngNativeValidate (submit)="send()">
        <div class="input-group">
            <input class="form-control" [(ngModel)]="chatMessage.body" name="body" placeholder="body" autocomplete="off" />
            <div class="input-group-append">
                <input type="submit" class="btn btn-success" value="Send"/>
            </div>
        </div>
    </form>
    <button class="btn btn-warning" (click)="initWebsocket()">test WS</button>
</div>